{% load static %}

<!-- Footer -->
<footer class="page-footer font-small indigo">
    <div class="row text-center d-flex justify-content-center pt-4 mb-3">
        <button id="collapseButton" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Why Build This Page?
        </button>
    </div>
    <div class="collapse" id="collapseExample">
        <!-- Grid row-->
      <div class="row d-flex justify-content-center">
        <!-- Grid column -->
        <div class="col-md-8 col-12" style="padding: 0px 25px 0px 25px;">
            <p style="line-height: 1.7rem">
                Trying to working from home with others can be stressful, let alone a world wide pandemic. 
                So knowing when to be quite/respectful while the other was in a VC meeting is a big thing for us. 
            </p>
            <p style="line-height: 1.7rem">
                We just wanted to avoid the countless times I (Rohan) walked around photo-bombing in my wife's stand-ups 😂. 
                So we decided to build a really little tool to help each other quickly check in when the other is busy.
            </p>
            <p style="line-height: 1.7rem">
                This website is open source so feel free to abstract, reuse and create a your own version however you'd like. <br/>
                Click on <a href="https://gitlab.com/rothomare/roti-busy">Start Your Own</a> for more information.
            </p>
        </div>  
      </div>
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Footer Links -->
    <div class="container">
  
      <!-- Grid row-->
      <br/>
      <div class="row text-center d-flex justify-content-center mb-3">
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="https://gitlab.com/rothomare/roti-busy">Start Your Own</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="https://www.nptrust.org/philanthropic-resources/philanthropist/charities-providing-direct-relief-for-the-coronavirus-outbreak/">COVID-19 Relief</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/admin/">Admin Page</a>
          </h6>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="mailto:rohanthomare@yahoo.com?subject=Inquery About the Busy App">Contact</a>
          </h6>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      <div class="row justify-content-center mb-3">
        <!-- Grid column -->
            <img src="{% static "img/poweredbygiphy.gif" %}" width="200" alt="Powered by GIPHY" />
      </div>
  </footer>
  <script>
    $('#collapseButton').click(function() {
        $('#collapseExample').toggleClass('show');
    });
  </script>
  <!-- Footer -->